/*Game Page*/
body {
  box-sizing: border-box;
  font-family: "Contrail One", cursive;
}

canvas {
  border: 1px solid;
  display: block;
  background-image: url('/images/start-space.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h4, p {
  margin: 8px;
}

.game-wrap {
  display: none;
}

.canvas-wrap {
  position: relative;
  width: 750px;
  margin: auto;
}

.score-wrap {
  position: absolute;
  width: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.level-change {
  display: none;
  color: #eff1f3;
}


/*Title page*/
h1 {
  margin: 0;
  top: 180px;
  right: 230px;
  position: absolute;
}

.title-wrap {
  width: 100%;
  height: 500px;
  border-size: border-box;
  background-color: #2e2e3e;
  color: #eff1f3;
  font-size: 2em;
}

.title-space {
  width: 270px;
  padding: 141px 0px 0px 110px;
}

#start-bun1 {
  top: 152px;
  right: 147px;
}

#hopper {
  position: absolute;
  left: 40px;
}

#production {
  position: absolute;
  bottom: 2px;
  right: 11px;
  font-family: 'Oswald', sans-serif;
  font-size: .5em;
  font-style: italic;
}

/*Start page*/

button {
  height: 40px;
  width: 160px;
  background-color: #eff1f3;
  color: #2e2e3e;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

button:focus {
  outline: 0;
}

.start {
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  border: 1px solid;
  padding-top: 115px;
  height: 500px;
  width: 750px;
  background-image: url("images/start-space.jpeg");
  background-size: cover;
  color: #eff1f3;
}

#how-to {
  position: absolute;
  top: 36px;
  right: 274px;
  font-size: 2.8em;
}

.jump-up {
  box-sizing: border-box;
  padding-left: 100px;
  width: 50%;
  height: 40px;
}

.start-button-wrap {
  width: 100%;
  height: 0;
}

.start-button-wrap p {
  font-size: 2em;
}

.planet-wrap {
  position: absolute;
  top: 47%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.move-wrap {
  box-sizing: border-box;
  padding-right: 100px;
  width: 50%;
  height: 40px;
}

#start-bun2 {
  position: absolute;
  bottom: 101px;
  left: 223px;
  transform: rotate(-35deg);
}

.expl-image {
  width: 40px;
}


/*Lose page*/
.lose {
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid;
  padding: 60px;
  height: 500px;
  width: 750px;
  background-image: url("images/start-space.jpeg");
  background-size: cover;
  color: #eff1f3;
}

.bunny-image {
  width: 71px;
  position: absolute;
  bottom: 171px;
  right: 220px;
}

#crashed {
  font-size: 3em;
  width: 100%;
}

#final-score {
  font-size: 2em;
  margin-bottom: 0.6em;
  width: 100%;
}
