canvas {
  border: 1px solid;
  display: block;
  background-image: url('/images/space1.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

h4, p {
    margin: 8px;
}

.canvas-wrap {
  position: relative;
  width: 500px;
  margin: auto;
}

.score-wrap {
  position: absolute;
  font-family: "Contrail One", cursive;
  width: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

